/* RegistrationRoute.css */

.already-have-an-account-link {
  color: white;
  background-color: #c02f0e;
  border: 3px outset silver;
  font-family: "Shojumaru", cursive;
  /* font-weight: bold; */
  font-size: 16px;
  border-radius: 4px;
  height: 37px;
  padding-top: 3px;
  width: 300px;
  text-align: center;
  text-decoration: none;
}

#sign-up-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-up-desc {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

#sign-up-heading {
  font-size: 40px;
  font-family: "Shojumaru", cursive;
}

/* RegistrationForm.css */

#sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-up-button {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 3px;
  color: white;
  background-color: #c02f0e;
  border: 3px outset silver;
  font-family: "Shojumaru", cursive;
}

label {
  font-size: 22px;
}

input {
  margin-left: 38px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.name-input {
  margin-left: 27px;
}

.name-label {
  margin-left: 6px;
}

#registration-name-input {
  text-align: center;
}
