.heading {
  font-family: "Shojumaru", cursive;
  text-align: center;
  align-items: center;
  color: black;
}

h1 {
  font-size: 40px;
}

.login-page-login-h2 {
  padding-top: 50px;
}

.login-page-header {
  height: 125px;
  padding-top: 50px;
  background-color: #c02f0e;
  margin-top: 0px;
}

.login-page-login {
  margin-right: 25px;
}

.login-page-register {
  margin-left: 25px;
}

.login-page-heading {
  margin-top: 30px;
}

.login-page-username {
  margin-right: 15px;
}

.login-page-password {
  margin-right: 15px;
}

.login-page-submit {
  color: white;
  background-color: #c02f0e;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 767px) {
  .login-page-header {
    height: 155px;
    text-align: left;
    margin-right: -15px;
  }
  .login-page-link {
    font-size: x-large;
    position: relative;
    top: 50px;
    color: white;
  }
}
.login-page-link {
  color: white;
}
