#dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-message {
  margin-top: -20px;
}

#learn-button-text {
  margin: 4px;
}

#button-lets-learn {
  color: black;
  background-color: #c02f0e;
  border: 3px outset silver;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  border: 3px outset silver;
  border-radius: 4px;
  text-decoration: none;
  padding: 2px;
}

#words-header-dashboard {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 24px;
}

/* WordsToPractice.js */

#list-of-words-and-attempts {
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  text-align: center;
}

.dashboard-individual-word-container {
  display: inline-block;
  border: 3px solid black;
  margin: 4px;
  width: 300px;
}

.word-dashboard {
  font-weight: bold;
  font-size: 20px;
}

#total-score-dashboard {
  font-size: 22px;
  margin-top: 20px;
}