.login-page-link {
  text-decoration: none;
  color: white;
}

.logged-in-user {
  color: white;
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 15px;
  margin-right: 10px;
}

.log-out-user-link {
  border-radius: 3px;
  border: outset silver 3px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
}

.log-out-user {
  font-size: x-large;
  margin-bottom: 10px;
  float: right;
  margin-top: -150px;
}

@media screen and (max-width: 767px) {
  .log-out-user {
    margin-top: -180px;
  }
  .login-page-link {
    text-decoration: none;
    color: white;
  }
}
