/* LearningRoute.js */

/* Word.js */

#button-learning-show-result, #button-show-form {
  color: black;
  background-color: #c02f0e;
  border: 3px outset silver;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
}

#button-learning-show-result-text {
  margin: 4px;
}

#translate-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#translation-guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#translation-input {
  margin-right: 35px;
  padding: 6px;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#learning-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h5 {
  margin-bottom: 0px;
  font-size: 18px;
}
#total-score-learning {
  font-size: 22px;
}

.button-to-dashboard-text {
  margin: 4px;
}

.button-to-dashboard {
  color: black;
  background-color: #c02f0e;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  border: 3px outset silver;
  border-radius: 4px;
  text-decoration: none;
}

/* Result.js */

#button-learning-next {
  color: black;
  background-color: #c02f0e;
  border: 3px outset silver;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
}

#button-learning-next-text {
  margin: 4px;
}
